.*
*.egg-info
*.pyc
*.swp
coverage.xml
build/
dist/
docs/_build/

!.coveragerc
!.gitignore

# dev
bower_components
node_modules
.sass-cache

# SQLite3 database:
*.db

# IDE
.idea/
*.sublime-workspace
*.sublime-project
