{% extends "cosinnus_todo/base.html" %}
{% load i18n humanize todo_tags cosinnus_tags thumbnail %}
{% load static from staticfiles %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-1.10.0.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cosinnus_todo.css' %}">
{% endblock extrahead %}


{% block page_title %}
{% trans "TodoEntries" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Todos" %}</li>
{% endblock %}

{% block leftnav %}
<div id="leftnav-region">
    <p>{% trans "Loading ..." %}</p>
</div>
{% endblock leftnav %}

{% block content %}

<div id="main-region" class="content-box">
    <p>{% trans "Loading ..." %}</p>
</div>

<div id="dialog-region"></div>

{% include "cosinnus_todo/marionette_templates/todo-main-layout.html" %}
{% include "cosinnus_todo/marionette_templates/lists-item.html" %}
{% include "cosinnus_todo/marionette_templates/lists-new.html" %}

{% include "cosinnus_todo/marionette_templates/todos-item.html" %}
{% include "cosinnus_todo/marionette_templates/todos-new.html" %}

{% include "cosinnus_todo/marionette_templates/extra_templates.html" %}

	    
<div class="row">
    <div class="col-xs-12">
        <!-- a box with semi transparent background -->
        <div class="content-box">
        
        
			{% for todo in active_todolist.todos.all %}
			    
			    <div class="btn btn-emphasized w100 regular-space">
			        <ul class="media-list">
			            <li class="media">
			                <a class="pull-left" href="#">
			                    <i class="fa fa-{% if todo.is_completed %}check-{% endif %}square-o"></i>
			                    {% captureas post_url %}/api/v1/group/{{todo.group.slug}}/todo/todos/{{todo.pk}}/toggle_complete/me/{% endcaptureas %}
			                    <input type="hidden" value="{% if todo.is_completed %}true{% else %}false{% endif %}" {% djajax_connect todo "is_completed" trigger_on "value_changed" post_to post_url %} />
			                </a>
			                {% comment %} 
			                <a class="pull-left" href="#">
			                    <img src="avatar.png" />
			                </a>
			                 {% endcomment %}
			                <a class="pull-left select2-avatar" title="{{ todo.assigned_to|full_name }}">
			                    <select class="select2-avatar-item" {% djajax_connect todo "assigned_to" trigger_on "value_changed" %}>
			                        <option value="-1" data-avatar-url="{% static 'images/fragezeichen.png' %}"> keine Zuweisung</option>
			                        
			                        {% for user in group_users %}
			                            <option {% if todo.assigned_to and todo.assigned_to == user %}selected {% endif %} value="{{ user.pk }}" data-avatar-url="{% if user.cosinnus_profile.avatar %}{% thumbnail user.cosinnus_profile.avatar 40x40 crop=1 upscale=1 %}{% else %}{% static 'images/jane-doe.png' %}{% endif %}">
			                                {{ user|full_name }}
			                            </option>
			                        {% endfor %}
			                    </select>
			                </a>
			                
			                <select class="pull-right permanent-visible" href="#">
			                        <option> &nbsp;  Wichtig</option>
			                        <option>&nbsp; &nbsp;  Normal</option>
			                        <option>  &nbsp; Später</option>
			                </select>
			                <div class="media-body">
			                    <span class="annotation moment-data-date" data-date="2014-05-02"></span>
			                    <input type="text" value="{{ todo.title }}" {% djajax_connect todo "title" trigger_on "lose_focus,enter_key" %}></input>
			                </div>
			            </li>
			        </ul>
			    </div>
			
			
			{% endfor %}
        </div><!-- content-box -->
    </div><!-- col -->
</div><!-- row -->
                        

{% endblock content %}


{% block extrafooter %}
{{ block.super }}

{% djajax generate %}

<script src="{% static 'js/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.position.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.resizable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.draggable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.button.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.dialog.js' %}"></script>

<script src="{% static 'js/vendor/json2.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/vendor/backbone.js' %}"></script>
<script src="{% static 'js/vendor/backbone.syphon.js' %}"></script>
<script src="{% static 'js/vendor/backbone.marionette.js' %}"></script>
<script src="{% static 'js/vendor/keymaster.js' %}"></script>
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
<script src="{% static 'js/vendor/moment.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.de.js' %}"></script>
<script src="{% static 'js/vendor/locales/moment.de.js' %}"></script>

<script src="{% static 'js/cosinnus/utils.js' %}"></script>
<script src="{% static 'js/cosinnus/cosinnus_app.js' %}"></script>

<script src="{% static 'js/cosinnus_todo/todo_entities.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_app.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_views.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_controller.js' %}"></script>

<script type="text/javascript">
    // set the todolist and todo if given via a permalink so they can be navigated to and highlighted
	CosinnusApp.TodosApp.currentTodolistId = {% if active_todolist %}"{{ active_todolist.pk }}"{% else %}null{% endif %};
	CosinnusApp.TodosApp.currentTodoSlug = {% if active_todo %}"{{ active_todo.slug }}"{% else %}null{% endif %};
	
    CosinnusApp.start();
    // define object here if given
    
    $(".select2-avatar-item").select2(CosinnusApp.select2Options);
</script>


{% endblock extrafooter %}
