{% extends "cosinnus_todo/base.html" %}
{% load i18n humanize todo_tags cosinnus_tags %}
{% load static from staticfiles %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-1.10.0.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cosinnus_todo.css' %}">
{% endblock extrahead %}


{% block page_title %}
{% trans "TodoEntries" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Todos" %}</li>
{% endblock %}

{% block leftnav %}
<div id="leftnav-region">
    <p>{% trans "Loading ..." %}</p>
</div>
{% endblock leftnav %}

{% block content %}

<div id="main-region" class="content-box">
    <p>{% trans "Loading ..." %}</p>
</div>

<div id="dialog-region"></div>

{% include "cosinnus_todo/marionette_templates/todo-main-layout.html" %}
{% include "cosinnus_todo/marionette_templates/lists-item.html" %}
{% include "cosinnus_todo/marionette_templates/lists-new.html" %}

{% include "cosinnus_todo/marionette_templates/todos-item.html" %}
{% include "cosinnus_todo/marionette_templates/todos-new.html" %}

{% include "cosinnus_todo/marionette_templates/extra_templates.html" %}

<div class="media-body">
<p>k
</p>
    <p><br/>
	{% for todo in active_todolist.todos.all %}
	    {{ todo }} 
	    <input type="text" value="{{ todo.title}}" {% djajax_connect todo title %}></input>
	    <br/><br/>
	{% endfor %}
	</p>
</div>

<p>
    S: 
</p>

{% endblock content %}


{% block extrafooter %}
{{ block.super }}

{% djajax generate %}

<script src="{% static 'js/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.position.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.resizable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.draggable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.button.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.dialog.js' %}"></script>

<script src="{% static 'js/vendor/json2.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/vendor/backbone.js' %}"></script>
<script src="{% static 'js/vendor/backbone.syphon.js' %}"></script>
<script src="{% static 'js/vendor/backbone.marionette.js' %}"></script>
<script src="{% static 'js/vendor/keymaster.js' %}"></script>
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
<script src="{% static 'js/vendor/moment.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.de.js' %}"></script>
<script src="{% static 'js/vendor/locales/moment.de.js' %}"></script>

<script src="{% static 'js/cosinnus/utils.js' %}"></script>
<script src="{% static 'js/cosinnus/cosinnus_app.js' %}"></script>

<script src="{% static 'js/cosinnus_todo/todo_entities.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_app.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_views.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_controller.js' %}"></script>

<script type="text/javascript">
    // set the todolist and todo if given via a permalink so they can be navigated to and highlighted
	CosinnusApp.TodosApp.currentTodolistId = {% if active_todolist %}"{{ active_todolist.pk }}"{% else %}null{% endif %};
	CosinnusApp.TodosApp.currentTodoSlug = {% if active_todo %}"{{ active_todo.slug }}"{% else %}null{% endif %};
	
    CosinnusApp.start();
    // define object here if given
</script>


{% endblock extrafooter %}
