{% extends "cosinnus_todo/base.html" %}
{% load i18n humanize todo_tags cosinnus_tags thumbnail %}
{% load static from staticfiles %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-1.10.0.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cosinnus_todo.css' %}">
{% endblock extrahead %}


{% block page_title %}
{% trans "TodoEntries" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Todos" %}</li>
{% endblock %}

{% block leftnav %}
<div id="leftnav-region">
    <p>{% trans "Loading ..." %}</p>
</div>
{% endblock leftnav %}

{% block content %}

<div id="main-region" class="content-box">
    <p>{% trans "Loading ..." %}</p>
</div>

<div id="dialog-region"></div>

{% include "cosinnus_todo/marionette_templates/todo-main-layout.html" %}
{% include "cosinnus_todo/marionette_templates/lists-item.html" %}
{% include "cosinnus_todo/marionette_templates/lists-new.html" %}

{% include "cosinnus_todo/marionette_templates/todos-item.html" %}
{% include "cosinnus_todo/marionette_templates/todos-new.html" %}

{% include "cosinnus_todo/marionette_templates/extra_templates.html" %}

	    
<div class="row">
    <div class="col-xs-12">
        <!-- a box with semi transparent background -->
        <div class="content-box">
        
        
			{% for todo in active_todolist.todos.all %}
			    
			    <div class="btn btn-emphasized w100 regular-space">
			        <ul class="media-list">
			            <li class="media">
			                <a class="pull-left" href="#">
			                    <i class="fa fa-{% if todo.is_completed %}check-{% endif %}square-o"></i>
			                    {% captureas post_url %}/api/v1/group/{{todo.group.slug}}/todo/todos/{{todo.pk}}/toggle_complete/me/{% endcaptureas %}
			                    <input type="hidden" value="{% if todo.is_completed %}true{% else %}false{% endif %}" {% djajax_connect todo "is_completed" trigger_on "value_changed" post_to post_url %} />
			                </a>
			                {% comment %} 
			                <a class="pull-left" href="#">
			                    <img src="avatar.png" />
			                </a>
			                 {% endcomment %}
			                <a class="pull-left select2-avatar" title="{{ todo.assigned_to|full_name }}">
			                    <select class="select2-avatar-item" {% djajax_connect todo "assigned_to" trigger_on "value_changed" %}>
			                        <option value="-1" data-avatar-url="{% static 'images/fragezeichen.png' %}"> keine Zuweisung</option>
			                        
			                        {% for user in group_users %}
			                            <option {% if todo.assigned_to and todo.assigned_to == user %}selected {% endif %} value="{{ user.pk }}" data-avatar-url="{% if user.cosinnus_profile.avatar %}{% thumbnail user.cosinnus_profile.avatar 40x40 crop=1 upscale=1 %}{% else %}{% static 'images/jane-doe.png' %}{% endif %}">
			                                {{ user|full_name }}
			                            </option>
			                        {% endfor %}
			                    </select>
			                </a>
			                
			                <select class="pull-right permanent-visible" href="#">
			                        <option> &nbsp;  Wichtig</option>
			                        <option>&nbsp; &nbsp;  Normal</option>
			                        <option>  &nbsp; Später</option>
			                </select>
			                <div class="media-body">
			                    {% captureas todo_date_id %}todoDate{{ todo.pk }}{% endcaptureas %}
			                    <a id="dateSelect{{ todo.pk }}" data-dateelement="#{{ todo_date_id }}" href="#" data-toggle="modal" data-target="#datePickerModal"> 
			                        <span class="annotation moment-data-date" {% djajax_connect todo "due_date" trigger_on "value_changed" id todo_date_id value_selector "attr" value_selector_arg "data-date" %} data-date="{% if todo.due_date %}{{ todo.due_date|date:"Y-m-d" }}{% endif %}" id="{{ todo_date_id }}" >{% if not todo.due_date %}{% if user|has_write_access:todo %}{% trans "Fälligkeitsdatum wählen" %}{% else %}{% trans "Kein Fälligkeitsdatum gewählt" %}{% endif %}{% endif %}</span>
			                    </a>
			                    
			                    {% comment %}  correct formatting {% endcomment %}
			                    
			                    <span type="text" contenteditable="true" {% djajax_connect todo "title" trigger_on "lose_focus,enter_key" value_selector "text" %}>{{ todo.title }}</span>
			                </div>
			            </li>
			        </ul>
			    </div>
			
			
			{% endfor %}
			
			
            <div type="button" class="btn btn-default w100">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#"></a>
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="pull-right" id="datasel1" data-dateelement="#newTaskDate" href="#" data-toggle="modal" data-target="#datePickerModal">
                            <i class="fa fa-calendar"></i>
                        </a>
                        <div class="media-body">
                            <span class="annotation moment-data-date" data-toggle="modal" data-target="#datePickerModal" data-date="today" id="newTaskDate"></span>
                            <input class="form-control next-button-is-for-sending"
                                placeholder="Lege eine neue Aufgabe an."
                                value="" />
                        </div>
                    </li>
                </ul>
            </div>
            
            
            <!-- Pick Date Modal -->
            <div class="modal fade" id="datePickerModal" tabindex="1" role="dialog" aria-labelledby="datePickerLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="fa fa-times"></i>
                            </button>
                            <h4 class="modal-title" id="datePickerLabel">
                                <i class="fa fa-calendar"></i>
                                Tag auswählen
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>Bis wann soll die Aufgabe erledigt sein?</p>
                            <div class="small-calendar" data-dateelement=""></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="datePickerModal_submit" class="btn btn-emphasized"  data-dismiss="modal">
                                <ul class="media-list">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <div class="media-body">
                                            OK
                                        </div>
                                    </li>
                                </ul>
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- modal -->
			
			
        </div><!-- content-box -->
    </div><!-- col -->
</div><!-- row -->
                        

{% endblock content %}


{% block extrafooter %}
{{ block.super }}

{% djajax generate %}

<script src="{% static 'js/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.position.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.resizable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.draggable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.button.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.dialog.js' %}"></script>

<script src="{% static 'js/vendor/json2.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/vendor/backbone.js' %}"></script>
<script src="{% static 'js/vendor/backbone.syphon.js' %}"></script>
<script src="{% static 'js/vendor/backbone.marionette.js' %}"></script>
<script src="{% static 'js/vendor/keymaster.js' %}"></script>
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
<script src="{% static 'js/vendor/moment.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.de.js' %}"></script>
<script src="{% static 'js/vendor/locales/moment.de.js' %}"></script>

<script src="{% static 'js/cosinnus/utils.js' %}"></script>
<script src="{% static 'js/cosinnus/cosinnus_app.js' %}"></script>

<script src="{% static 'js/cosinnus_todo/todo_entities.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_app.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_views.js' %}"></script>
<script src="{% static 'js/cosinnus_todo/todo_controller.js' %}"></script>

<script type="text/javascript">
    // set the todolist and todo if given via a permalink so they can be navigated to and highlighted
	CosinnusApp.TodosApp.currentTodolistId = {% if active_todolist %}"{{ active_todolist.pk }}"{% else %}null{% endif %};
	CosinnusApp.TodosApp.currentTodoSlug = {% if active_todo %}"{{ active_todo.slug }}"{% else %}null{% endif %};
	
    CosinnusApp.start();
    // define object here if given
    
    $(".select2-avatar-item").select2(CosinnusApp.select2Options);
</script>


{% endblock extrafooter %}
