{% load i18n cosinnus_tags %}

{% with todo=object %}
	<div class="app-todos">
	    <div class="btn btn-emphasized w100" >
	        <ul class="media-list large-space">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-tasks"></i>
	                </a>
	                <div class="media-body no-vertical-padding ">
                        <span class="annotation">
	                        {% with creator=todo.creator %}
                                von <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
	                        {% endwith %}
	                        <span class="moment-data-date" data-date="{{ todo.created|date:'c' }}"></span>
                        </span>
	                    {% if todo.is_completed %}<del>{% endif %}<strong><a href="{{ todo.get_absolute_url }}">{{ todo.title }}</a></strong>{% if todo.is_completed %}</del>{% endif %}
	                    <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=todo.group %}
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div><!-- btn -->
	</div>
{% endwith %}
