{% extends "cosinnus_todo/base.html" %}
{% load i18n cosinnus_tags %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block page_title %}Todo{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if todoentry %}
        <li><a href="{% url 'cosinnus:todo:entry' group=group.slug slug=object.slug %}">{{ todoentry.title }}</a> <span class="divider">/</span></li>
        {% if form_view == 'edit' %}
            <li class="active">{% trans "Edit" %}</li>
        {% elif form_view == 'assign' or form_view == 'assign-me' %}
            <li class="active">{% trans "Assign" %}</li>
        {% elif form_view == 'complete' or form_view == 'complete-me' %}
            <li class="active">{% trans "Mark complete" %}</li>
        {% elif form_view == 'delete' %}
            <li class="active">{% trans "Delete" %}</li>
        {% elif form_view == 'unassign' %}
            <li class="active">{% trans "Unassign" %}</li>
        {% elif form_view == 'incomplete' %}
            <li class="active">{% trans "Mark incomplete" %}</li>
        {% endif %}
    {% else %}
        <li class="active">{% trans "Add new" %}</li>
    {% endif %}
{% endblock %}

{% block subnav_add_right %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-autocomplete.min.css' %}">
{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}

        {% if form_view == 'add' %}
            {% trans "Add" as submitbtn_caption %}
        {% elif form_view == 'edit' %}
            {% trans "Save" context "sinn" as submitbtn_caption %}
        {% elif form_view == 'assign' %}
            {% trans "Assign" as submitbtn_caption %}
        {% elif form_view == 'assign-me' %}
            {% trans "Assign" as submitbtn_caption %}
            {% trans "Do you want to assign the task to yourself?" as question %}
        {% elif form_view == 'complete' %}
            {% trans "Mark complete" as submitbtn_caption %}
        {% elif form_view == 'complete-me' %}
            {% trans "Mark complete" as submitbtn_caption %}
            {% trans "Are you sure to mark the task as completed?" as question %}
        {% elif form_view == 'delete' %}
            {% trans "Delete" as submitbtn_caption %}
            {% trans "Are you sure to remove this task?" as question %}
        {% elif form_view == 'unassign' %}
            {% trans "Unassign" as submitbtn_caption %}
            {% trans "Do you want to unassign the task from yourself?" as question %}
        {% elif form_view == 'incomplete' %}
            {% trans "Mark incomplete" as submitbtn_caption %}
            {% trans "Are you sure to mark the task as incompleted?" as question %}
        {% endif %}

        <div class="control-group">
            {% if question %}
                <label class="control-label">{{ question }}</label>
            {% endif %}
            <div class="controls">
                <button type="submit" class="btn {% if form_view == 'delete' %}btn-danger{% else %}btn-primary{% endif %}">{{ submitbtn_caption }}</button>
                <a href="{% url 'cosinnus:todo:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/vendor/jquery-ui-autocomplete.min.js" %}"></script>
<script type="text/javascript">
{% if not todoentry %}
$("#id_title").focus();
{% endif %}
var availableTags = [
    {% for tag in tags %}
        "{{ tag }}",
    {% endfor %}
];
</script>
<script type="text/javascript" src="{% static "js/vendor/jquery.ui.autocomplete-tags.js" %}"></script>
{% endblock %}
