{% extends "cosinnus_todo/base.html" %}
{% load i18n humanize todo_tags cosinnus_tags %}
{% load static from staticfiles %}


{% block csshead %}
<link rel="stylesheet" href="{% static 'css/bootstrap3-neww-todo.css' %}">
{% endblock csshead %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-1.10.0.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/cosinnus_todo.css' %}">
{% endblock extrahead %}


{% block page_title %}
{% trans "TodoEntries" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {% trans "TodoEntries" %}
{% endblock content_title %}


{% block content %}
<!--
{% if tags %}
  {% for tag in tags %}
    <a href="{% url 'cosinnus:todo:list-filtered' group=group.slug tag=tag.slug %}{{ list_url_filter }}"><span class="label label-default">{{ tag.name }}</span></a>
  {% endfor %}
{% else %}
{% trans "No tags available." %}
{% endif %}

<ul class="nav nav-pills pull-right">
    {% if user.is_superuser or user|is_group_member:group %}
        <li class="active">
            <a href="{% url 'cosinnus:todo:entry-add' group=group.slug %}" class="btn">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
            </a>
        </li>
    {% endif %}
    {% if user.is_superuser or user|is_group_admin:group %}
        <li class="active">
            <a href="{% url 'cosinnus:todo:export' group=group.slug %}" class="btn">
                <span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}
            </a>
        </li>
    {% endif %}
    {% if user.is_superuser or user|is_group_member:group %}
        {% if filtered_list %}
            <li class="dropdown active">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon glyphicon-list"></span> {% trans "List" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'cosinnus:todo:todolist-add' group=group.slug %}">
                            <span class="glyphicon glyphicon-plus"></span> {% trans "Add List" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cosinnus:todo:todolist-edit' group=group.slug slug=filtered_list %}">
                            <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit List" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cosinnus:todo:todolist-delete' group=group.slug slug=filtered_list %}">
                            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete List" %}
                        </a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li class="active">
                <a href="{% url 'cosinnus:todo:todolist-add' group=group.slug %}" class="btn">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Add List" %}
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>

{% if todolists %}
    <ul class="list-inline">
    {% for todolist in todolists %}
        <li><a href="?list={{ todolist.slug }}"><span class="label label-default">{{ todolist.title }}</span></a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if object_list %}
<table class="table table-striped">
    <thead>
        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_title }}">{% trans "Title" %}</a></th>
        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_completed_by }}">{% trans "Due by" %}</a></th>
        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_assigned_to }}">{% trans "Assigned to" %}</a></th>
        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_is_completed }}">{% trans "Status" %}</a></th>
        <th>{% trans "Tags" %}</th>
        <th>{% trans "Actions" %}</th>
    </thead>
    {% for object in object_list %}
        {% ifchanged object.todolist.id %}
            <tr><th colspan="6">{% if object.todolist.id %}<a href="?list={{ object.todolist.slug }}">{{ object.todolist.title }}</a>{% else %}{% trans "Default list" %}{% endif %}</th></tr>
        {% endifchanged %}
    <tr class="{% if object.due_date|is_past %}info{% else %}{% if object.priority == 1 %}error{% elif object.priority == 2 %}warning{% else %}success{% endif %}{% endif %}">
        <td><a href="{% url 'cosinnus:todo:entry-detail' group=group.slug slug=object.slug %}">{{ object.title }}</a>
        </td>
        <td>{{ object.due_date|naturaltime|default_if_none:"" }}</td>
        <td>{% if object.assigned_to %}{{ object.assigned_to }}{% endif %}</td>
        <td>
            {% if object.is_completed %}
            <span class="badge badge-success" title="{{ object.completed_date|date:" DATETIME_FORMAT" }} -- {{
            object.completed_by }}">{% trans "Completed" %}</span></td>
        {% else %}
        <span class="badge badge-important">{% trans "Open" %}</span>
        {% endif %}
        </td>
        <td>
            {% for tag in object.tags.all %}
            <a href="{% url 'cosinnus:todo:list-filtered' group=group.slug tag=tag.slug %}"><span
                    class="label label-default">{{ tag.name }}</span></a>
            {% empty %}
            -
            {% endfor %}
        </td>
        <td>
            <div class="btn-group">
                <a class="btn btn-primary btn-mini"
                   href="{% url 'cosinnus:todo:entry-detail' group=group.slug slug=object.slug %}"><span
                        class="glyphicon glyphicon-eye-open"></span> {% trans "Show" %}</a>
                {% if user.is_superuser or user|is_group_member:object %}
                <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'cosinnus:todo:entry-edit' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                    <li><a href="{% url 'cosinnus:todo:entry-delete' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                    <li class="divider"></li>


                      {% if object|can_assign:request.user %}
                    {% if object.assigned_to == request.user %}
                    <li><a href="{% url 'cosinnus:todo:entry-unassign' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-star-empty"></span> {% trans "Unassign" %}</a></li>
                    <li><a href="{% url 'cosinnus:todo:entry-assign' group=group.slug slug=object.slug %}"><i></i> {% trans "Assign someone else" %}</a></li>
                    {% elif object.assigned_to %}
                    <li><a href="{% url 'cosinnus:todo:entry-assign-me' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-star"></span></i> {% trans "Assign to me" %}</a></li>
                    <li><a href="{% url 'cosinnus:todo:entry-unassign' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-star-empty"></span> {% trans "Unassign" %}</a></li>
                    {% else %}
                    <li><a href="{% url 'cosinnus:todo:entry-assign-me' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-star"></span> {% trans "Assign to me" %}</a></li>
                    <li><a href="{% url 'cosinnus:todo:entry-assign' group=group.slug slug=object.slug %}"><i></i> {% trans "Assign someone else" %}</a></li>
                    {% endif %}
                    {% endif %}

                    {% if object.is_completed %}
                    <li><a href="{% url 'cosinnus:todo:entry-incomplete' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-remove"></span> {% trans "Mark incomplete" %}</a></li>
                    {% else %}
                    <li><a href="{% url 'cosinnus:todo:entry-complete-me' group=group.slug slug=object.slug %}"><span
                            class="glyphicon glyphicon-ok"></span> {% trans "Finish yourself" %}</a></li>
                    <li><a href="{% url 'cosinnus:todo:entry-complete' group=group.slug slug=object.slug %}"> {% trans "Mark complete (other)" %}</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>{% trans "There are no todo entries." %}</p>
{% endif %}
-->

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 ">
        <div class="lists-container">
            <div class="list-group lists-all-container todos-colors">
                <div class="list-group-item clearfix">
                    <span class="item-box darker">2</span>
                    <span class="item-text item-text-padleft item-title">
                        <span class="item-title">Januar Newsletter versenden</span>
                    </span>
                </div>
                <div class="list-group-item clearfix">
                    <span class="item-box darker">15</span>
                    <span class="item-text item-text-padleft item-title">
                        <span class="item-title">Prinzessinnengärten winterfest ...</span>
                    </span>
                </div>
                <div class="list-group-item clearfix">
                    <span class="item-box darker">7</span>
                    <span class="item-text item-text-padleft item-title">sinntern-Aufgaben für SinnwerkstatterInnen</span>
                </div>
                <div class="list-group-item clearfix">
                    <span class="item-box darker">11</span>
                    <span class="item-text item-text-padleft item-title">noch eine To-Do-Liste</span>
                </div>
            </div>
            <div class="list-group todos-secondary-colors">
                <div class="list-group-item clearfix js-new-list-item">
                    <span class="item-box darker large-text">+</span>
                    <span class="item-text item-text-padleft item-title js-new-list-title" contenteditable="true">Lege eine neue Liste an</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 items-container">

        <div class="list-group items-all-container todos-all-container todos-colors">

            <div class="list-group-item clearfix">
                <span class="item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item-box">
                    <select id="select1">
                        <option value="img1"><img src="http://placekitten.com/40/40" /></option>
                        <option value="img2"><img src="http://instasrc.com/40x40" /></option>
                    </select>
                </span>
                <span class="item-text">
                    <span class="item-title" contenteditable="true">Editorial schreiben</span>
                    <span class="item-text-buttons">
                        <span class="btn item-btn darker js-item-title-save">Speichern</span>
                        <button type="button" class="btn item-btn darker js-item-title-cancel">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">heute</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

            <div class="list-group-item clearfix">
                <span class="item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item-box"><img src="http://placekitten.com/40/40" /></span>
                <span class="item-text">
                    <span class="item-title" contenteditable="true">Empfängerliste aktualisieren</span>
                    <span class="item-text-buttons">
                        <span class="btn item-btn darker js-item-title-save">Speichern</span>
                        <button type="button" class="btn item-btn darker js-item-title-cancel">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">morgen</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

            <div class="list-group-item clearfix">
                <span class="item item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item item-box"><img src="http://placekitten.com/40/40" /></span>
                <span class="item item-text">
                    <span class="item-title" contenteditable="true">Kritische Betrachtung von Kunden/Projekte</span>
                    <span class="item-text-buttons">
                        <span class="btn item-btn darker js-item-title-save">Speichern</span>
                        <button type="button" class="btn item-btn darker js-item-title-cancel">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">in 4 Tagen</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

            <div class="list-group-item clearfix">
                <span class="item item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item item-box"><img src="http://instasrc.com/40x40" /></span>
                <span class="item item-text">
                    <span class="item-title">Workshoptermin finden</span>
                    <input class="item-title-input" type="text"/>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">in 6 Tagen</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

            <div class="list-group-item clearfix">
                <span class="item item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item item-box"><img src="http://instasrc.com/40x40" /></span>
                <span class="item item-text">
                    <span class="item-title">Neuen Lampen</span>
                    <input class="item-title-input" type="text"/>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">in einer Woche</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

            <div class="list-group-item clearfix">
                <span class="item item-box">
                    <input type="checkbox"/>
                </span>
                <span class="item item-box"><img src="http://placehold.it/40x40" /></span>
                <span class="item item-text">
                    <span class="item-title">Empfängerliste aktualisieren</span>
                    <input class="item-title-input" type="text"/>
                </span>
                <span class="item-container-right">
                    <span class="item-text-right">in einer Woche</span>
                    <span class="item-box large-text">*</span>
                </span>
            </div>

        </div>


        <div class="list-group todos-secondary-colors">
            <div class="list-group-item clearfix">
                <span class="item item-box"></span>
                <span class="item item-box darker large-text">?</span>
                <span class="item item-text">
                    <span class="item-title">Lege eine neue Aufgabe an</span>
                    <input class="item-title-input" type="text"/>
                </span>
                <span class="item-container-right">
                    <span class="item-box">CA</span>
                </span>
            </div>
        </div>

    </div>
</div>


{% endblock content %}

{% block ajax_content %}

<div id="main-region">
    <p>Marionette Todo Application is loading now ...</p>
</div>

<div id="dialog-region"></div>

<script type="text/template" id="todos-list-layout">
    <h2>Marionette App</h2>
    <div id="todos-top-region"></div>
    <div id="todolists-list-region"></div>
    <div id="todos-list-region"></div>
</script>


<script type="text/template" id="todos-top">
    <ul class="nav nav-pills pull-right">
        {% if user.is_superuser or user|is_group_member:object %}
        <li class="active">
            <a class="btn js-new-todolist">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add Todolist" %}
            </a>
        </li>
        <li class="active">
            <a class="btn js-new">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
            </a>
        </li>
        <li class="active">
            <a href="{% url 'cosinnus:todo:export' group=group.slug %}" class="btn">
                <span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}
            </a>
        </li>
        {% endif %}
    </ul>
</script>

<script type="text/template" id="todolists-list">
    <thead>
    <tr>
        <th>{% trans "TodoList" %}</th>
        <th>{% trans "Number of Todos" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody></tbody>
</script>

<script type="text/template" id="todolists-list-item">
    <td><a href="?list=<%= slug %>" class="linktd js-todolist-list"><%= title %></a></td>
    <td><%= item_count %></td>
    <td>
        <a  class="btn btn-primary js-todolist-edit">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
        </a>
        <a  class="btn js-todolist-delete">
            <i class="glyphicon glyphicon-remove"></i>
            Delete
        </a>
    </td>
</script>



<script type="text/template" id="todos-list">
    <thead>
    <tr>
        <th>{% trans "TodoList" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Due by" %}</th>
        <th>{% trans "Assigned to" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Tags" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody></tbody>
</script>

<script type="text/template" id="todos-list-item">
    <td><a class="linktd js-list"><%= todolist? todolist.title : '' %></a></td>
    <td><a href="../<%= slug %>" class="linktd js-detail"><%= title %></a></td>
    <td><%= due_date %></td>
    <td>
        <% if (assigned_to) { %>
        <span><%= assigned_to.username %></span>
        <% } %>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'cosinnus:todo:entry-unassign' group=group.slug slug=object.slug %}"><span
                        class="glyphicon glyphicon-star-empty"></span> {% trans "Unassign" %}</a></li>
                <li><a href="{% url 'cosinnus:todo:entry-assign' group=group.slug slug=object.slug %}"><i></i> {%
                    trans "Assign someone else" %}</a></li>
            </ul>
        </div>
    </td>
    <td>
        <% if (is_completed) { %>
            <span class="badge badge-success"
                  title="<%= completed_date %> -- <% if (assigned_to) { %><%= completed_by.username %><% } %>">
                {% trans "Completed" %}
            </span>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'cosinnus:todo:entry-incomplete' group=group.slug slug=object.slug %}"><span
                        class="glyphicon glyphicon-remove"></span> {% trans "Mark incomplete" %}</a></li>
            </ul>
        </div>
        <% } else { %>
            <span class="badge badge-important">
                {% trans "Open" %}
            </span>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'cosinnus:todo:entry-complete-me' group=group.slug slug=object.slug %}"><span
                        class="glyphicon glyphicon-ok"></span> {% trans "Finish yourself" %}</a></li>
                <li><a href="{% url 'cosinnus:todo:entry-complete' group=group.slug slug=object.slug %}"> {% trans
                    "Mark complete (other)" %}</a></li>
            </ul>
        </div>
        <% } %>
    </td>
    <td><%= tags %></td>
    <td>
        <a href="../<%= slug %>/edit" class="btn btn-primary js-edit">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
        </a>
        <a href="../<%= slug %>/delete" class="btn js-delete">
            <i class="glyphicon glyphicon-remove"></i>
            Delete
        </a>
    </td>
</script>

<script type="text/template" id="todos-detail">
    <h1>{{ group.name }}: <%= title %></h1>

    <div class="row">
        <div class="col-md-6">
            <strong>{% trans "Created on" %}</strong>
            <%= created %>
            {% trans "by" context "done by someone" %}
            <% if (created) { %>
            <%= created.username %>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <% if (due_date) { %>
            <strong>{% trans "Due by" %}</strong>
            <%= due_date %>
            <% } else { %>
            <strong>{% trans "No due date" %}</strong>
            <% } %>
        </div>
        <div class="col-md-6">
            <% if (completed_date) { %>
            <strong>{% trans "Completed on" %}</strong>
            <%= completed_date %>
            <% if (completed_by) { %>{% trans "by" context "done by someone" %} <%= completed_by.username %><% } %>
            <% } else { %>
            <strong>{% trans "Not completed" %}</strong>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <% if (assigned_to) { %>
            <strong>{% trans "Assigned to" %}</strong>
            <%= assigned_to.username %>
            <% } else { %>
            <strong>{% trans "Not assigned" %}</strong>
            <% } %>
        </div>
        <div class="col-md-6">
            <strong>{% trans "Priority" %}</strong>
            <%= priority %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <% if (note) { %>
            <strong>{% trans "Note" %}</strong><br/>
            <div class="well"><%= note %></div>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <strong>{% trans "Tags" %}</strong><br/>
            <% for(var tag in tags) { %>
            <a href="<%= tags[tag] %>">
                <span class="label label-default"><%= tags[tag] %></span>
            </a>
            <% } %>
        </div>
    </div>
</script>

<script type="text/template" id="todos-detail-missing">
    <div class="container">
        <h1>Die Aufgabe existiert nicht.</h1>
    </div>
</script>


<script type="text/template" id="todolist-edit-form">
    <form role="form">
        <div class="form-group">
            <label for="todo-title" class="control-label">{% trans "Title" %}:</label>
            <input id="todo-title" name="title" class="form-control" type="text" value="<%= title %>"/>
        </div>
        <button type="submit" class="btn btn-default js-submit">{% trans "Save" %}</button>
    </form>
</script>

<script type="text/template" id="todos-edit-form">
    <form role="form">
        <div class="form-group">
            <label for="todo-title" class="control-label">{% trans "Title" %}:</label>
            <input id="todo-title" name="title" class="form-control" type="text" value="<%= title %>"/>
        </div>
        <div class="form-group">
            <label for="todo-todolist" class="control-label">{% trans "Todolist" %}:</label>
            <input id="todo-todolist" name="todolist" class="form-control" type="text" value="<%= todolist %>"/>
        </div>
        <div class="form-group">
            <label for="todo-due_date" class="control-label">{% trans "Due by" %}</label>
            <input id="todo-due_date" name="due_date" class="form-control" type="text" value="<%= due_date %>"/>
        </div>
        <div class="form-group">
            <label for="todo-assigned_to" class="control-label">{% trans "Assigned to" %}</label>
            <input id="todo-assigned_to" <% if (assigned_to) { %>name="assigned_to"<% } %> class="form-control"
            type="text" value="<% if (assigned_to) { %><%= assigned_to.id %><% } %>"/>
        </div>
        <div class="form-group">
            <label for="todo-is_completed" class="control-label">{% trans "Status" %}</label>
            <input id="todo-is_completed" name="is_completed" class="form-control" type="text"
                   value="<%= is_completed %>"/>
        </div>
        <div class="form-group">
            <label for="todo-is_completed" class="control-label">{% trans "Tags" %}</label>
        </div>
        <div class="form-group">
            <label for="todo-is_completed" class="control-label">{% trans "Actions" %}</label>
        </div>
        <button type="submit" class="btn btn-default js-submit">{% trans "Save" %}</button>
    </form>
</script>

{% endblock ajax_content %}


{% block extrafooter %}
{{ block.super }}
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.position.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.resizable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.draggable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.button.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.dialog.js' %}"></script>

<script src="{% static 'js/vendor/json2.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/vendor/backbone.js' %}"></script>
<script src="{% static 'js/vendor/backbone.syphon.js' %}"></script>
<script src="{% static 'js/vendor/backbone.marionette.js' %}"></script>
<script src="{% static 'js/vendor/keymaster.js' %}"></script>

<script src="{% static 'js/common/common.js' %}"></script>

<script src="{% static 'js/apps/config/marionette/regions/dialog.js' %}"></script>

<script src="{% static 'js/cosinnus_todo.js' %}"></script>
<script src="{% static 'js/entities/todo_entities.js' %}"></script>

<script src="{% static 'js/apps/todos/todos_app.js' %}"></script>
<script src="{% static 'js/apps/todos/common/common_views.js' %}"></script>
<script src="{% static 'js/apps/todos/list/todos_list_view.js' %}"></script>
<script src="{% static 'js/apps/todos/list/todos_list_controller.js' %}"></script>
<script src="{% static 'js/apps/todos/detail/todos_detail_view.js' %}"></script>
<script src="{% static 'js/apps/todos/detail/todos_detail_controller.js' %}"></script>
<script src="{% static 'js/apps/todos/edit/todos_edit_view.js' %}"></script>
<script src="{% static 'js/apps/todos/edit/todos_edit_controller.js' %}"></script>
<script src="{% static 'js/apps/todos/edit/todos_edit_todolist_view.js' %}"></script>
<script src="{% static 'js/apps/todos/edit/todos_edit_todolist_controller.js' %}"></script>
<script src="{% static 'js/apps/todos/new/todos_new_view.js' %}"></script>
<script src="{% static 'js/apps/todos/new/todos_new_todolist_view.js' %}"></script>

<script type="text/javascript">
    CosinnusApp.start();
</script>


{% endblock extrafooter %}
