{% extends "cosinnus_todo/base.html" %}
{% load i18n humanize todo_tags cosinnus_tags %}
{% load static from staticfiles %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-1.10.0.custom.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cosinnus_todo.css' %}">
{% endblock extrahead %}


{% block page_title %}
{% trans "TodoEntries" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
<!--{{ group.name }}: {% trans "TodoEntries" %}-->
{% endblock content_title %}


{% block content %}

{% endblock content %}

{% block ajax_content %}

<div id="main-region">
    <p>Loading ...</p>
</div>

<div id="dialog-region"></div>

<script type="text/template" id="todos-list-layout">
    <h2>Marionette App</h2>
    <div id="todos-top-region"></div>
    <div id="todolists-list-region"></div>
    <div id="todos-list-region"></div>
</script>


<script type="text/template" id="todos-top">
    <ul class="nav nav-pills pull-right">
        {% if user.is_superuser or user|is_group_member:object %}
        <li class="active">
            <a class="btn js-new-todolist">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add Todolist" %}
            </a>
        </li>
        <li class="active">
            <a class="btn js-new">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
            </a>
        </li>
        <li class="active">
            <a href="{% url 'cosinnus:todo:export' group=group.slug %}" class="btn">
                <span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}
            </a>
        </li>
        {% endif %}
    </ul>
</script>

<!-- TODO: use static tag? -->
{% include "cosinnus_todo/marionette_templates/lists-items-layout.html" %}
{% include "cosinnus_todo/marionette_templates/lists-item.html" %}
{% include "cosinnus_todo/marionette_templates/lists-new.html" %}

{% include "cosinnus_todo/marionette_templates/todos-item.html" %}
{% include "cosinnus_todo/marionette_templates/todos-new.html" %}



{% endblock ajax_content %}


{% block extrafooter %}
{{ block.super }}
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.position.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.resizable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.draggable.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.button.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery.ui.dialog.js' %}"></script>

<script src="{% static 'js/vendor/json2.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/vendor/backbone.js' %}"></script>
<script src="{% static 'js/vendor/backbone.syphon.js' %}"></script>
<script src="{% static 'js/vendor/backbone.marionette.js' %}"></script>
<script src="{% static 'js/vendor/keymaster.js' %}"></script>
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
<script src="{% static 'js/vendor/moment.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.de.js' %}"></script>
<script src="{% static 'js/vendor/locales/moment.de.js' %}"></script>

<script src="{% static 'js/common/common.js' %}"></script>

<script src="{% static 'js/apps/config/marionette/regions/dialog.js' %}"></script>

<script src="{% static 'js/cosinnus_app.js' %}"></script>
<script src="{% static 'js/common/lists/lists_views.js' %}"></script>

<script src="{% static 'js/entities/todo_entities.js' %}"></script>

<script src="{% static 'js/apps/todos/todos_app.js' %}"></script>
<script src="{% static 'js/apps/todos/common/common_views.js' %}"></script>
<script src="{% static 'js/apps/todos/list/todos_list_view.js' %}"></script>
<script src="{% static 'js/apps/todos/list/todos_list_controller.js' %}"></script>

<script type="text/javascript">
    CosinnusApp.start();
</script>

{% endblock extrafooter %}
