{% extends "cosinnus_todo/base.html" %}
{% load i18n cosinnus_tags %}
{% load bootstrap3 %}
{% load static from staticfiles %}


{% block page_title %}
{% if form_view == "add" %}
  {% trans "Add entry" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ object.title }}
{% elif form_view == 'assign' %}
    {% trans "Assign" %} {{ object.title }}
{% elif form_view == 'assign-me' %}
    {% trans "Assign" %} {{ object.title }}
{% elif form_view == 'complete' %}
    {% trans "Mark complete" %} {{ object.title }}
{% elif form_view == 'complete-me' %}
    {% trans "Mark complete"%} {{ object.title }}
{% elif form_view == 'unassign' %}
    {% trans "Unassign" %} {{ object.title }}
{% elif form_view == 'incomplete' %}
    {% trans "Mark incomplete" %} {{ object.title }}
{% endif %}
{{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}:
{% if form_view == "add" %}
  {% trans "Add entry" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ object.title }}
{% elif form_view == 'assign' %}
    {% trans "Assign" %} {{ object.title }}
{% elif form_view == 'assign-me' %}
    {% trans "Assign" %} {{ object.title }}
{% elif form_view == 'complete' %}
    {% trans "Mark complete" %} {{ object.title }}
{% elif form_view == 'complete-me' %}
    {% trans "Mark complete"%} {{ object.title }}
{% elif form_view == 'unassign' %}
    {% trans "Unassign" %} {{ object.title }}
{% elif form_view == 'incomplete' %}
    {% trans "Mark incomplete" %} {{ object.title }}
{% endif %}
{% endblock content_title %}


{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{% endblock extrahead %}


{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {% if form_view == 'edit' or form_view == 'add' %}
        <div class="row">
          <div class="col-md-6">
          {% bootstrap_field form.title %}
          {% bootstrap_field form.due_date %}
          {% bootstrap_field form.assigned_to %}
          {% bootstrap_field form.note %}
          </div>
          <div class="col-md-5 pull-right">
          {% bootstrap_field form.tags %}
          {% bootstrap_field form.priority %}
          {% bootstrap_field form.media_tag %}
          {% if form_view == 'edit' %}
            {% bootstrap_field form.completed_by %}
            {% bootstrap_field form.completed_date %}
          {% endif %}
          </div>
        </div>
        {% else %}
          {% bootstrap_form form %}
        {% endif %}

        {% if form_view == 'add' %}
            {% trans "Add" as submitbtn_caption %}
        {% elif form_view == 'edit' %}
            {% trans "Save" context "sinn" as submitbtn_caption %}
        {% elif form_view == 'assign' %}
            {% trans "Assign" as submitbtn_caption %}
        {% elif form_view == 'assign-me' %}
            {% trans "Assign" as submitbtn_caption %}
            {% trans "Do you want to assign the task to yourself?" as question %}
        {% elif form_view == 'complete' %}
            {% trans "Mark complete" as submitbtn_caption %}
        {% elif form_view == 'complete-me' %}
            {% trans "Mark complete" as submitbtn_caption %}
            {% trans "Are you sure to mark the task as completed?" as question %}
        {% elif form_view == 'unassign' %}
            {% trans "Unassign" as submitbtn_caption %}
            {% trans "Do you want to unassign the task from yourself?" as question %}
        {% elif form_view == 'incomplete' %}
            {% trans "Mark incomplete" as submitbtn_caption %}
            {% trans "Are you sure to mark the task as incompleted?" as question %}
        {% endif %}

        <div class="control-group">
            {% if question %}
                <label class="control-label">{{ question }}</label>
            {% endif %}
            <div class="controls">
                <button type="submit" class="btn {% if form_view == 'delete' %}btn-danger{% else %}btn-primary{% endif %}">{{ submitbtn_caption }}</button>
                <a href="{% url 'cosinnus:todo:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
<script type="text/javascript" src="{% static "js/vendor/bootstrap3-typeahead.min.js" %}"></script>
<script type="text/javascript">
{% if not object %}
$("#id_title").focus();
{% endif %}

$(function() {
  var tags = [{% for tag in tags %}"{{ tag }}", {% endfor %}];
  console.log(tags);
  $('#id_tags')
    .attr('data-provide', 'typeahead')
    .attr('autocomplete', 'off')
    .typeahead({
      source: tags,
    });
});
</script>
{% endblock extrafooter %}
