<script type="text/template" id="lists-item">
    <div class="btn btn-emphasized w100 fine-space">
	    <ul class="media-list">
	        <li class="media">
	            <a class="pull-left" href="#">
	               <%= item_count %>
	            </a>
	            <a class="pull-right" href="#">
		            <% if (typeof id != 'undefined' && CosinnusApp.TodosApp.currentTodolistId == id) { %>
                        <i class="fa fa-caret-right"></i>
	                <% } %>
	            </a>
	            <div class="media-body    item-title">
	                <span class="item-title"><%= title %></span>
	            </div>
	        </li>
	    </ul>
	</div>
</script>
