<script type="text/template" id="lists-new">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-plus"></i>
            </a>
            <div class="media-body">
                <span class="item-title js-new-list-title   next-button-is-for-sending" contenteditable="<% if (CosinnusApp.isUserLoggedIn()){ %>true<% } else { %>false<% } %>">Neue Liste anlegen</span>
            </div>
        </li>
    </ul>
    <!--js-new-list-create-button-->
    
</script>
