<script type="text/template" id="todos-new">

    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-pencil"></i>
            </a>
            <!-- TODO: exchange date pickers -->
            <!--
            <a class="pull-right" href="#" data-toggle="modal" data-target="#datePickerModal">
                <i class="fa fa-calendar"></i>
            </a>
            -->
            <a class="pull-right     date-picker-new">
                <i class="fa fa-calendar"></i>
            </a>
            <div class="media-body">
                <!-- TODO: put sliding down button back in and then replace the input field -->
                <!--
                <span class="annotation moment-data-date" data-toggle="modal" data-target="#datePickerModal" data-date="today" id="newTaskDate"></span>
                <input class="form-control"
                    placeholder="Legde eine neue Aufgabe an."
                    value=""
                    id="newTaskDescription" />
                -->
                    <span class="form-control item-title js-new-todo-title" contenteditable="<% if (CosinnusApp.isUserLoggedIn()){ %>true<% } else { %>false<% } %>">Lege eine neue Aufgabe an</span>
            </div>
        </li>
    </ul>     

</script>
