{% load i18n %}


<script type="text/template" id="todos-item">

    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <% if (is_completed) { %>
                    <i class="fa fa-check-square-o"></i>
                <% } else { %>
                    <i class="fa fa-square-o"></i>
                <% } %>
            </a>
            <a class="pull-left select2-avatar">
                <select class="select2-avatar-item">
                    <option value="-1" data-avatar-url="/static/images/avatar-unselected.jpg"> keine Zuweisung</option>
                    <% _.each(CosinnusApp.TodosApp.List.Controller.groupUsers.toJSON(), function(user) { %>
                        <option <% if (assigned_to !== null && assigned_to.id === user.id) { %>selected <% } %> value="<%= user.id %>" data-avatar-url="<% if (typeof user.profile !== 'undefined') { %><%= user.profile.avatar_40x40 %><% } else { %>none<% } %>">
                            <%= user.username %>
                        </option>
                    <% }); %>
                </select>
            </a>
            <a class="pull-right permanent-visible   unselectable">
                <% if (priority === 1) { %>
                    <span class="fa fa-star-o js-icon-star" data-priority="<%= priority %>"></span>
                <% } else if (priority === 3) { %>
                    <span class="fa fa-star js-icon-star" data-priority="<%= priority %>"></span>
                <% } else { %>                
                    <span class="fa fa-star-half-o js-icon-star" data-priority="<%= priority %>"></span>
                <% } %>
            </a>
            <div class="media-body">
                    <span class="item-title" contenteditable="<% if (CosinnusApp.isUserLoggedIn()){ %>true<% } else { %>false<% } %>"><%= title %></span>
                    <span class="item-text-buttons" style="display:none">
                        <span class="btn item-btn darker js-item-title-save">Speichern</span>
                        <button type="button" class="btn item-btn darker js-item-title-cancel">
                            <span class="icon-close">X</span>
                        </button>
                    </span>
                    
                    <!-- TODO: the date field isn't populated when it gets loaded with Marionette -->
                    <span class="annotation    item-text-right input-group date date-picker"
                        data-model-id="<% if (typeof id ==='undefined') { %> -1 <% } else { %><%=id%><% } %>">
                        <span class="input-group-addon">
                            <% if (due_date) { %>
                                <%= moment(due_date, cosinnus_datetime_format).fromNow() %>
                            <% } else { %>
                                <% if (CosinnusApp.isUserLoggedIn()){ %>
                                    {% trans "Fälligkeitsdatum wählen" %}
                                <% } else { %>
                                    {% trans "Kein Fälligkeitsdatum gewählt" %}
                                <% } %>
                            <% } %>
                        </span>
                    </span>
            </div>
        </li>
    </ul>


</script>
