<script type="text/template" id="todo-leftnav-layout">
    <div class="lists-all-container   btn-emphasized"></div>
    <div class="lists-new-container   btn btn-default w100"></div>
</script>

<script type="text/template" id="todo-main-layout">
    <div class="items-all-container  "></div>
    <div class="items-new-container  "></div>
    
    <!-- TODO: put sliding down button back in -->
    <!--
	<button type="button" class="btn btn-emphasized" id="createTodoButton">
	    <ul class="media-list">
	        <li class="media">
	            <a class="pull-left" href="#">
	                <i class="fa fa-pencil"></i>
	            </a>
	            <div class="media-body">
	                Erstellen
	            </div>
	        </li>
	    </ul>
	</button>
	-->
</script>
