<script type="text/template" id="todo-leftnav-layout">
    <div class="lists-all-container regular-space"></div>
    <div type="button" class="lists-new-container   btn btn-default w100"></div>
    
    <button type="button" class="btn btn-emphasized large-space" style="display: none;">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="media-body">
                    Erstellen
                </div>
            </li>
        </ul>
    </button>
</script>

<script type="text/template" id="todo-main-layout">
    <div class="items-all-container  "></div>
    <div class="items-new-container  "></div>
    
    <button type="button" class="btn btn-emphasized large-space" style="display: none;">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="media-body">
                    Erstellen
                </div>
            </li>
        </ul>
    </button>
</script>
