/* COLORS */
$white: #FFFFFF;
$grey-darkest: #414141;

$app-color: #F1A200;
$app-color-dark: #B07F19;
$app-color-text: $white;

$item-width: 40px;
$item-height: 40px;
$item-line-width: 10px;
$item-line-height: 40px;
